<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Demoiselle Framework
 Copyright (c) 2009 Serpro and other contributors as indicated
 by the @author tag. See the copyright.txt in the distribution for a
 full listing of contributors.

 Demoiselle Framework is an open source Java EE library designed to accelerate
 the development of transactional database Web applications.

 Demoiselle Framework is released under the terms of the LGPL license 3
 http://www.gnu.org/licenses/lgpl.html  LGPL License 3

 This file is part of Demoiselle Framework.

 Demoiselle Framework is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License 3 as published by
 the Free Software Foundation.

 Demoiselle Framework is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public License
 along with Demoiselle Framework.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
    	<!-- Habilitar para uso do HSQLDB -->
		<!--  
     	<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>        
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:hsql://127.0.0.1/escola-demo</property> 
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>
  		-->        
  	   
  	   <!-- <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>        
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:mem:HibernateGenericDAOHSQLDBTest</property> 
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>
        <property name="hbm2ddl.auto">update</property>
  	 -->
  	 
  	 	<!-- Habilitar para uso do POSTGRES -->  		
  		<property name="hibernate.connection.driver_class">br.gov.framework.demoiselle.persistence.hibernate.DriverStub</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="show_sql">false</property>
        <property name="format_sql">true</property> 
		<property name="hbm2ddl.auto">update</property>

		
		<!-- Habilitar para uso de transação sem JTA -->
        <property name="hibernate.connection.url">jdbc:postgresql://10.200.189.28/demoiselle-test23233</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>

		<!-- Habilitar para uso de transação com JTA -->
		<!--
		<property name="hibernate.connection.datasource">java:jdbc/escola-demo</property>
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JTATransactionFactory</property>
		<property name="hibernate.transaction.manager_lookup_class">org.hibernate.transaction.JBossTransactionManagerLookup</property>
		-->		

		<!-- Habilitar para mapeamento com Hbm -->		
		
		<mapping resource="hbm/Usuario.hbm.xml"/>
		<mapping resource="hbm/Professor.hbm.xml"/>		
		<mapping resource="hbm/Disciplina.hbm.xml"/>
		<mapping resource="hbm/Aluno.hbm.xml"/>
		
		
 		<!-- Habilitar para mapeamento com Annotation -->
		<!--
		<mapping class="br.gov.serpro.escola.pojo.Aluno"/>
		<mapping class="br.gov.serpro.escola.pojo.Usuario"/>
		<mapping class="br.gov.serpro.escola.pojo.Professor"/>
		<mapping class="br.gov.serpro.escola.pojo.Telefone"/>
		<mapping class="br.gov.serpro.escola.pojo.Disciplina"/>
		<mapping class="br.gov.serpro.escola.pojo.Email"/>
		<mapping class="br.gov.serpro.escola.pojo.Endereco"/>
		<mapping class="br.gov.serpro.escola.pojo.Nota"/>
		<mapping class="br.gov.serpro.escola.pojo.Turma"/>
		-->		
 	</session-factory>    
</hibernate-configuration>
